.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  margin-top: 20px;
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialMediaIcon {
  opacity: 0.6;
  cursor: pointer;
}
