
.container{
  margin-top: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 0px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table th {
  /* background-color: #f2f2f2; */
}

/* .table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
} */

.image {
  max-width: 100px;
  max-height: 100px;
}

.editButton,
.deleteButton {
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton {
  background-color: #e74c3c;
}

.editButton:hover,
.deleteButton:hover {
  opacity: 0.8;
}
